<div class="container box_container">
  <div class="row">
    <div class="col-md-12">
      <div class="card box">

        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%= render "devise/shared/error_messages", resource: resource %>
          <h1><span style="color: #474747">Welcome to </span><span style="color: #8a03ce"> Equirole!</span></h1>
          <p style="font-size: 21px; padding-bottom: 20px">Create an Account and begin hiring with a DE&I focus</p>
          <%= f.text_field :first_name, placeholder:"First Name", required: true%>
          <%= f.text_field :last_name, placeholder:"Last Name", required: true%>
          <%= f.text_field :username, placeholder:"Username", required: true%>
          <%= f.email_field :email, placeholder:"Email", required: true%>
          <%= f.text_field :number, placeholder:"Phone Number", required: true%>
          <%= f.password_field :password, placeholder: "Password", required: true %>
          <%= f.password_field :password_confirmation, placeholder: "Confirm-Password", required: true %>
          <%= f.submit "Sign Up",value:"SignUp"%>
        <% end %>
        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>

  <div class="modal fade" id="consentModal" tabindex="-1" aria-labelledby="consentModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl" style="max-width: 1600px;">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="consentModalLabel" style="font-size: 31px; color: #6f42c1;">DATA CONSENT</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p>By clicking the "I Accept" button you expressly make the following representations and warranties and give your consents as described below:</p>
          <p>What data do we collect? </br> Equirole collects personal data about you in order to assess your suitability (or on behalf of you through a recruiting partner) for a position (usually in the form of a resume). This may include
            your education and qualifications, where you have worked and the type of work you have done. We also collect your contact details in order to contact you for a role. When you submit an
            application, we may also obtain additional information from your resume, such as your photo, interests and hobbies.</p></br>
          <p>Why do we collect your data? </br> We process your data for the purposes of managing Equirole’s recruitment related activities as well as for organisational planning and reporting purposes globally. Consequently, Equirole may
            use your personal data in relation to the evaluation and selection of applicants including, for example, setting up and conducting interviews and tests, evaluating and assessing the results
            thereto and as is otherwise needed in the recruitment process, including the final recruitment.</p></br>
          <p>When you apply for a role: </br> When you apply for a role through Equirole, your resume and contact details become part of our database in order to match you with suitable positions. This database can be searched by
            members of the Equirole Recruitment and Talent Teams who are located across the globe. In response to your application, they may contact you about a particular role from time to time.</p></br>
          <p>What we do with your data: </br> We will securely store a copy of your application including your resume, and any other information you provide, for no longer than we need, and no longer than 24 months.</p></br>
          <p>Your agreement to processing your data: </br> You agree to the fact that your personal data may be transferred and/or disclosed to any company within Equirole’s group of companies as well as to third parties outlined above. This includes transfers to servers and databases outside the country where you provided
            Equirole with personal data. Such transfers may include for example transfers and/or disclosures outside the European Economic Area and in the United States of America. We will keep your data safe and process it according to all applicable laws.</p></br>
          <p>If you would like to access, update, or amend your personal information or, if you would like us to remove personal information that we hold about you, or limit its use, please email
            <span style="color: red">Jobvite.SupportNA@groupm.com.</span></p></br>
          <p>The Equirole Talent Privacy Policy can be found here: <span style="color: red">https://www.groupm.com/groupm-privacy-policy-for-talent-europe</span></p>

        </div>
        <div class="modal-footer">
          <div style="margin: 0 auto">
            <button type="button" class="btn btn-success" id="agreebtn" style="padding: 7px 25px;">I Accept</button>
            <button type="button" class="btn btn-danger" id="declinebtn" data-bs-dismiss="modal" style="margin-left: 10px; padding: 7px 25px;">I Decline</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  $("#new_user").on('submit', function(event){
      event.preventDefault();  //Prevents form submission or the default event's action
      console.log('hello')
      $("#consentModal").modal('show');
  })

  $('#agreebtn').on('click', function (e) {
      $("#new_user").off('submit')
      $("#new_user").submit();
      $('#consentModal').modal('hide');
  });

  $('#declinebtn').on('click', function (e) {
      window.location.reload()
  });


</script>
