<!-- ======= Hero Section ======= -->
<section id="hero" class="hero d-flex align-items-center">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 d-flex flex-column justify-content-center">
        <h1 data-aos="fade-up">Hiring with a Focus on Diversity Equity & Inclusion</h1>

      </div>
      <div class="col-lg-6 hero-img" data-aos="zoom-out" data-aos-delay="200">
        <%#= image_tag 'hero-img.png', class: 'img-fluid', alt: 'Banner'%>
      </div>
    </div>
  </div>
</section><!-- End Hero -->


<main id="main" style="background-color: white !important;">
  <!-- ======= About Section ======= -->
  <section id="about" class="about">
    <div class="container" data-aos="fade-up">
      <div class="row gx-0" style="padding-top: 30px">

        <div class="col-lg-6 d-flex flex-column justify-content-center" data-aos="fade-up" data-aos-delay="200">
          <div class="content">
            <h3>Hiring Has To Change As The<br> World Evolves</h3>
            <p>Equirole’s BRP was built to change the first step in the hiring process. Equirole’s BRP uses
              artificial intelligence to remove personal information from a resume, mitigating conscious and
              unconscious bias from the recruiting process. This allows recruiters and hiring managers to
              focus solely on each applicant’s merits before finalizing which applicants will be contacted or
              interviewed. <br/><br/>Equirole’s BRP mitigates bias by removing the following criteria</p>
            <%= image_tag 'icons.png', class: 'img_icons', alt: 'icons'%>
          </div>
        </div>
        <div class="col-lg-6 d-flex align-items-center" data-aos="zoom-out" data-aos-delay="200">
          <%= image_tag 'mockup.jpg', class: 'mockup', alt: 'About image'%>
        </div>
      </div>
    </div>
  </section><!-- End About Section -->


  <!-- ======= Features Section ======= -->
<!--  <section id="features" class="features" style="background-color: #f6f9fe;">-->
<!--    <div class="container" data-aos="fade-up">-->
<!--      <header class="section-header">-->
<!--        <p>WHY ITS IMPORTANT</p>-->
<!--      </header>-->
<!--      <div class="row">-->
<!--        <div class="col-lg-6">-->
          <%#= image_tag 'features.png', class: 'img-fluid', alt: 'features image'%>
<!--        </div>-->
<!--        <div class="col-lg-6 mt-5 mt-lg-0 d-flex">-->
<!--          <div class="row align-self-center gy-4">-->
<!--            <div class="col-md-6" data-aos="zoom-out" data-aos-delay="200">-->
<!--              <div class="feature-box d-flex align-items-center" style="background-color: white;">-->
<!--                <i class="fa fa-check" aria-hidden="true"></i>-->
<!--                <h3>Reason 1</h3>-->
<!--              </div>-->
<!--            </div>-->
<!--            <div class="col-md-6" data-aos="zoom-out" data-aos-delay="300">-->
<!--              <div class="feature-box d-flex align-items-center" style="background-color: white;">-->
<!--                <i class="fa fa-check" aria-hidden="true"></i>-->
<!--                <h3>Reason 2</h3>-->
<!--              </div>-->
<!--            </div>-->
<!--            <div class="col-md-6" data-aos="zoom-out" data-aos-delay="400">-->
<!--              <div class="feature-box d-flex align-items-center" style="background-color: white;">-->
<!--                <i class="fa fa-check" aria-hidden="true"></i>-->
<!--                <h3>Reason 3</h3>-->
<!--              </div>-->
<!--            </div>-->
<!--            <div class="col-md-6" data-aos="zoom-out" data-aos-delay="500">-->
<!--              <div class="feature-box d-flex align-items-center" style="background-color: white;">-->
<!--                <i class="fa fa-check" aria-hidden="true"></i>-->
<!--                <h3>Reason 4</h3>-->
<!--              </div>-->
<!--            </div>-->
<!--            <div class="col-md-6" data-aos="zoom-out" data-aos-delay="600">-->
<!--              <div class="feature-box d-flex align-items-center" style="background-color: white;">-->
<!--                <i class="fa fa-check" aria-hidden="true"></i>-->
<!--                <h3>Reason 5</h3>-->
<!--              </div>-->
<!--            </div>-->
<!--            <div class="col-md-6" data-aos="zoom-out" data-aos-delay="700">-->
<!--              <div class="feature-box d-flex align-items-center" style="background-color: white;">-->
<!--                <i class="fa fa-check" aria-hidden="true"></i>-->
<!--                <h3>Reason 6</h3>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </section>-->



  <!-- ======= Pricing Section ======= -->
  <section id="pricing" class="pricing">
    <div class="container" data-aos="fade-up">
      <header class="section-header">
        <h2>Hire the right way</h2>
        <p>Our subscription plans provide you with flexible options that fit your hiring needs.</p>
      </header>

      <div class="row gy-4" data-aos="fade-left">
        <div class="col-lg-4 col-md-6" data-aos="zoom-in" data-aos-delay="100">
          <div class="price_box" style="height: 458px;">
            <h1 style="color: #07d5c0;">Monthly</h1>
            <div class="price" style="font-size: 24px !important;">Contact Us / Request a Demo</div>
            <img src="assets/img/pricing-free.png" class="img-fluid" alt="">
            <ul style="padding-top: 30px;">
              <li>2 Job Postings / month</li>
              <li>Batch Loading of Resumes</li>
              <li>Blinded Resume Portal</li>
            </ul>
            <%= link_to 'Contact Us', contact_us_path, class:"btn-buy" %>
          </div>
        </div>

        <div class="col-lg-4 col-md-6" data-aos="zoom-in" data-aos-delay="200">
          <div class="price_box" style="height: 458px;">
            <span class="featured">Featured</span>
            <h1 style="color: #65c600;">Annual</h1>
<!--            <div class="price"><sup>$</sup>150<span> / month</span></div>-->
            <div class="price" style="font-size: 24px !important;">Contact Us / Request a Demo</div>
            <img src="assets/img/pricing-starter.png" class="img-fluid" alt="">
            <ul style="padding-top: 30px;">
              <li>3 Job Postings / month</li>
              <li>Batch Loading of Resumes</li>
              <li>Blinded Resume Portal</li>
            </ul>
            <%= link_to 'Contact Us', contact_us_path, class:"btn-buy" %>
          </div>
        </div>

        <div class="col-lg-4 col-md-6" data-aos="zoom-in" data-aos-delay="300">
          <div class="price_box" style="height: 458px;">
            <h1 style="color: #ff901c;">Enterprise</h1>
            <div class="price" style="font-size: 28px !important;">Contact Us For Scaled Solutions</div>
            <img src="assets/img/pricing-business.png" class="img-fluid" alt="">
            <ul>
              <li>20+ Job Postings / month</li>
              <li>Batch Loading of Resumes</li>
              <li>Blinded Resume Portal</li>
            </ul>
            <%= link_to 'Contact Us', contact_us_path, class:"btn-buy" %>
          </div>
        </div>

<!--        <div class="col-lg-3 col-md-6" data-aos="zoom-in" data-aos-delay="400">-->
<!--          <div class="price_box">-->
<!--            <h3 style="color: #ff0071;">Ultimate Plan</h3>-->
<!--            <div class="price"><sup>$</sup>49<span> / mo</span></div>-->
<!--            <img src="assets/img/pricing-ultimate.png" class="img-fluid" alt="">-->
<!--            <ul>-->
<!--              <li>Aida dere</li>-->
<!--              <li>Nec feugiat nisl</li>-->
<!--              <li>Nulla at volutpat dola</li>-->
<!--              <li>Pharetra massa</li>-->
<!--              <li>Massa ultricies mi</li>-->
<!--            </ul>-->
<!--            <a href="#" class="btn-buy">Buy Now</a>-->
<!--          </div>-->
<!--        </div>-->
      </div>
    </div>
  </section><!-- End Pricing Section -->



  <footer  class="footer">
    <div class="container" >
      <div class="copyright">
        &copy; Copyright <strong><span>Equirole</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        Developed by <a href="https://fiverr.com/umarch4">UMARCH4</a>
      </div>
    </div>
  </footer>

</main>