<div class="admin_resume_div">
  <h2 style="color: #7d5ff5; text-align: center; padding-bottom: 10px">Pending Resumes</h2>
  <table class="table table-striped table-light" id="resume_table">
    <thead>
    <tr>
      <th scope="col" class="header_no_bor">Id</th>
      <th scope="col" class="header_no_bor">Position</th>
      <th scope="col" class="header_no_bor">Submitted By</th>
      <th scope="col" class="header_no_bor">Status</th>
      <th scope="col" class="header_no_bor">Created At</th>
      <th scope="col" class="header_no_bor">Generate PDF</th>
      <th scope="col" class="header_no_bor">Contact Email</th>
      <th scope="col" class="header_no_bor">Approve Application</th>
      <th scope="col" class="header_no_bor">Delete Application</th>
    </tr>
    </thead>
    <tbody>
    <% @pending_resumes.each do |resume| %>
      <tr>
        <td><%= resume.id %></td>
        <td><%= resume.role.position %></th>
        <td><%= resume.user.username %></td>
        <td><%= resume.status %></td>
        <td><%= resume.created_at.strftime("%F %T")%></td>
        <td><%= link_to 'Generate Pdf', generate_pdf_path(id: resume.id, format: :pdf), target: '_blank', class: 'btn btn-success btn-sm pdf_btn' %></td>
        <td><button class='btn btn-success btn-sm copy_btn' data-bs-toggle="tooltip" data-bs-placement="top" title="Copy Email to Clipboard" onclick="copyEmail('<%= resume.user.email %>')">Copy</button></td>
        <td><button data-bs-toggle="modal" data-bs-target="#approveModal" class='btn btn-primary btn-sm' onclick="ApproveResume('<%= resume.id %>')">Approve</button></td>
        <td><button data-bs-toggle="modal" data-bs-target="#confirmModal" class='btn btn-danger btn-sm' onclick="DelResume('<%= resume.id %>')">Delete</button></td>
      </tr>
    <% end %>

    </tbody>
  </table>
</div>

<div class="admin_resume_div" style="margin-top: 50px; margin-bottom: 50px">
  <h2 style="color: #7d5ff5; text-align: center; padding-bottom: 10px">Approved Resumes</h2>
  <table class="table table-striped table-light" id="approve_resume_table">
    <thead>
    <tr>
      <th scope="col" class="header_no_bor">Id</th>
      <th scope="col" class="header_no_bor">Position</th>
      <th scope="col" class="header_no_bor">Submitted By</th>
      <th scope="col" class="header_no_bor">Status</th>
      <th scope="col" class="header_no_bor">Created At</th>
      <th scope="col" class="header_no_bor">Generate PDF</th>
      <th scope="col" class="header_no_bor">Contact Email</th>
      <th scope="col" class="header_no_bor">Approve Application</th>
      <th scope="col" class="header_no_bor">Delete Application</th>
    </tr>
    </thead>
    <tbody>
    <% @approved_resumes.each do |resume| %>
      <tr>
        <td><%= resume.id %></td>
        <td><%= resume.role.position %></th>
        <td><%= resume.user.username %></td>
        <td><%= resume.status %></td>
        <td><%= resume.created_at.strftime("%F %T")%></td>
        <td><%= link_to 'Generate Pdf', generate_pdf_path(id: resume.id, format: :pdf), target: '_blank', class: 'btn btn-success btn-sm pdf_btn' %></td>
        <td><button class='btn btn-success btn-sm copy_btn' data-bs-toggle="tooltip" data-bs-placement="top" title="Copy Email to Clipboard" onclick="copyEmail('<%= resume.user.email %>')">Copy</button></td>
        <td><button data-bs-toggle="modal" data-bs-target="#approveModal" class='btn btn-primary btn-sm' onclick="ApproveResume('<%= resume.id %>')">Approve</button></td>
        <td><button data-bs-toggle="modal" data-bs-target="#confirmModal" class='btn btn-danger btn-sm' onclick="DelResume('<%= resume.id %>')">Delete</button></td>
      </tr>
    <% end %>

    </tbody>
  </table>
</div>